@charset "UTF-8";

		.headerInnerSearch{
			width:1180px;
			padding-top: 50px;
			padding-bottom: 50px;
			margin-left:370px;
			margin-right:370px;
			
		}
		.selectArea{
			margin-top:30px;
		}
		.typeOutline{
			width:100%;
			clear:left;
			height:50px;
		}
		.searchP{
			margin-bottom : 10px;
			color: #183058;
		}
		.placeType{
			box-sizing: border-box;
			background-color:#f69b02;
			border:1px solid white;	
			color: white;
			width:16.66%;
			height:100%;
			float: left;
			text-align: center;
			line-height: 50px;
			font-size:17px;
			
		}
		.placeType:hover{
			cursor: pointer;
			border:1px solid #183058;	
			background-color: #183058;
			color:white;
			font-size:20px;
		}
		.searchIcon:hover{
			cursor: pointer;
		}