@charset "UTF-8";
/*@font-face {
 font-family: 'NanumSquareRoundR';
 src: url(images/NanumSquareRoundR.eot);
 src: url(images/NanumSquareRoundR?#iefix) format('embedded-opentype'),
      url(images/NanumSquareRoundR.woff2) format('woff2'),
      url(images/NanumSquareRoundR.woff) format('woff'),
      url(images/NanumSquareRoundR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareRoundL';
 src: url(images/NanumSquareRoundL.eot);
 src: url(images/NanumSquareRoundL.eot?#iefix) format('embedded-opentype'),
      url(images/NanumSquareRoundL.woff2) format('woff2'),
      url(images/NanumSquareRoundL.woff) format('woff'),
      url(images/NanumSquareRoundL.ttf) format('truetype');
}
*/
/*@font-face { font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 

* { font-family: 'Noto Sans KR', sans-serif; }
.section{
	width:1160px;
	margin:0 auto;
}