@charset "UTF-8";
/*@font-face {
 font-family: 'NanumSquareRoundR';
 src: url(images/NanumSquareRoundR.eot);
 src: url(images/NanumSquareRoundR?#iefix) format('embedded-opentype'),
      url(images/NanumSquareRoundR.woff2) format('woff2'),
      url(images/NanumSquareRoundR.woff) format('woff'),
      url(images/NanumSquareRoundR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareRoundL';
 src: url(images/NanumSquareRoundL.eot);
 src: url(images/NanumSquareRoundL.eot?#iefix) format('embedded-opentype'),
      url(images/NanumSquareRoundL.woff2) format('woff2'),
      url(images/NanumSquareRoundL.woff) format('woff'),
      url(images/NanumSquareRoundL.ttf) format('truetype');
}
*/
/*@font-face { font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
*/

/*
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	font-family: 'Noto Sans KR', sans-serif;
}
*/
@font-face { font-family: 'Arita-dotum-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }
*{
	font-family: 'Arita-dotum-Medium';
}
html, body {
  height: 100%;
  margin: 0;
}
ol,ul{
    padding: 0;
    margin: 0;
}
a{
	text-decoration: none;
	color:#605f5d;
}
a:hover{
	text-decoration:none;
	color:#f69b02;
}
#navi-bar li a {
	color: #605f5d;
	font-size: 18px;
	text-decoration: none;
}

#navi-bar li a:hover {
	font-size: 20px;
	cursor: pointer;
    color: #f69b02;
}
header {
	width: 100%;
	height: 100px;
	position: relative;
	font-weight: bold;
	opacity: 1;
	color:#605f5d;
	font-size: 18px;
}
.header {
	text-align: center;
	float: left;
	box-sizing: border-box;
	height: 100%;
	line-height: 100px;
    background-color: #f7f7f7;
}

.navi {
	text-align: center;
	line-height: 100px;
}

.navi ul {
	margin: 0 auto;
	width: 50%;
}

.navi li {
	float: left;
	display: block;
	list-style: none;
	text-align: center;
	width: 25%;
	/*width:33%;*/
}

#header-search {
	background-color: white;
	display: none;
	width: 100%;
	height: 700px;
	position: absolute;
	top: 100px;
	z-index: 10;
}

#header-mypage {
	
	display: none;
	position: absolute;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 10;
}

.back {
	float: right;
	font-size: 30px;
	background-color: #f69b02;
	color: white;
	width:50px;
	border: 0px;
}

.back:hover {
	
	background-color: #183058;
	
}

.realtime span:hover {
	font-size: 20px;
	cursor: pointer;
    color: #f69b02;
}
.search span:hover {
	font-size: 20px;
	cursor: pointer;
    color: #f69b02;
}
.mypage span:hover {
	font-size: 20px;
	cursor: pointer;
    color: #f69b02;
}
.login span:hover {
	font-size: 20px;
	cursor: pointer;
    color: #f69b02;
}
#searchAlert{
	width:100%;
	height: 100px;
	text-align: center;
	letter-spacing: 8px;
	word-spacing:15px;
	background-color: #f69b02;
	color:white;
	font-size: 30px;
	line-height: 100px;
	display:none;
}
/*header fin*/

.header_ranking{
    width: 250px;
    background: #eee;
    display: none;
    position: absolute;
    left: -30;
    height: 300px;
    top: 100;
    z-index: 9;
}
/*
.header.realtime:hover .header_ranking{
    display: block;
    position: absolute;
    left: -30;
    height: 300px;
    top: 100;
    z-index: 9;
}*/
.realtimeDiv{
	width:100%; 
	height:40px; 
	border:3px solid rgba(246, 155, 2, 0.5);
	border-radius:5px;
	top:30px;
	margin-top: 30px;
	padding-left: 10px;
	
}
#ranking a{
	font-size:16px;
}
.realtime{
    position: relative;
}
.header_ranking ul li{
    list-style: none;
    text-align: left;
    height: 35px;
    margin-left: 30px;
    font-size: 16px;
}
.header_ranking_h{
    height: 60px;
    background: #183058;
}
.header_ranking_h p{
    margin: 0px;
    line-height: 70px;
    color: #f69b02;
    
}
/*header_ranking Fin*/

section {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.section_content {
	width: 1160px;
	min-height: 100vh;
	margin: 0 auto;
}

/*section 전체 틀 fin*/
.wrap {
	background: url(/img/viewpage_background.jpg) no-repeat center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}



#main_search {
	width: 1160px;
	margin: 0 auto;
    text-align: center;
    position: relative;
}


#main_search input[type="text"]{
	width: 600px;
	height: 60px;
    padding: 10px;
    position: relative;
    top: 300px;
    outline:none;
    border:0px;
    border-radius:10px;

}


#main_search button{
    background: none;
	position: absolute;
    width: 60px;
    height: 60px;
	margin: 0px;
	outline: none;
	border: 0;
	cursor: pointer;
    padding: 0;
    right: 280px;
    top: 300px;
}
/*main section fin*/
footer {
	 height: 240px;
	 margin-top: 0px;
	 background: #3e3e3e;  
	 overflow: hidden;
	 
	 
}
.footer_content{
	width: 1160px;
	height:100%;
	margin: 0 auto;
    font-size: 16px;
}
.footer_head{
	width:100%; 
	height:40%; 
	border-bottom:1px solid #ccc;
	clear:left;
}
.service_info{
	width:12%;
	height:70%;
	margin-top:20px;
	color:#ccc;
	text-align: center;
	line-height: 80px;
	cursor:pointer;
}
.footer_float{
	float:left;
}
.footer_main{
	width:100%; 
	height:60%; 
	margin-top:20px;
    font-family: 'Arita-dotum-Medium';
}
.footer_main_content{
	color:#ccc;
	line-height: 25px;
    margin-bottom: 0px;
}
.footer_bottom{
	color:#ccc;
	text-align: right;
	opacity: 0.7;
    	font-size: 14px;
}
.bgBlur{
	opacity:0.3;
	background-color:rgba(0, 0, 0, 1);

}
