@charset "UTF-8";
ul li{
    list-style: none;
    display: inline;
}
.intro_content{
    background: url(../img/background_test.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
#intro_icon{
    padding-top: 120px;
}
#intro_img{
    float: left;
    width: 250px;
    height: 150px;
}
#intro_icon p{
    font-size: 24px;
    color: #183058;
}
#intro_btn button{
    border: 2px solid #f69b02;
    border-radius: 35px;
    background: none;
    padding: 15px 20px 15px 20px;
    color: #f69b02;
}
#intro_btn{
    float: left;
    padding-top: 30px;
    width: 250px;
    height: 150px;
}
.intro_info img{
    width: 1160px;
    height: 450px;
}
.intro_section{
        margin-top: 20px;
    }
.intro_section h1{
        font-weight: bold;
    }
 .intro_section p{
        font-size: 18px;
        font-weight: 100;
    }
.intro_detail{
        width: 1160px;
        margin-top: 30px;
        overflow: hidden;
}
.intro_list{
    margin-top: 90px;
}
.intro_list li{
    position: relative;
    float: left;
    width: 33.3%;
    padding-top: 0;
    margin-top: 40px;
    border-top: 0;
    text-align: center;
    font-size: 18px;
}
.link_area{
    margin-top: 470px;
    padding-top: 83px;
    border-top: 2px solid #ebebeb;
}
.inner_width{
    width: 760px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    line-height: 52px;
    margin-bottom: 50px;
}
.intro_btns{
    margin-top: 56px;
    display: inline-block;
    width: 53%;
}
.intro_btns span{
    display: inline-block;
    width: 50%;
    float: left;
}
.intro_btns span:first-child{
    padding-right: 11px;
}
.intro_btns span:last-child{
    padding-left: 11px;
}
.btn_rounded_line{
    border: 2px solid #f69b02;
    color: #f69b02;
    width: 100%;
    height: 66px;
    line-height: 66px;
    border-radius: 66px;
    font-size: 20px;
    padding: 15px;
}