@charset "UTF-8";
.reviewupdate_tr{
    border-top: 4px solid #f69b02;
    border-bottom: 4px solid #f69b02;
    text-align: center;
}
.star_rating {font-size:0; letter-spacing:0px;}
.star_rating a {
            font-size:22px;
            letter-spacing:0;
            display:inline-block;
            margin-left:5px;
            color:#ccc;
            text-decoration:none;
        }
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#f69b02;}
	