@charset "UTF-8";
a{
    color: #f69b02;  
    text-decoration: none;
}
    #viewpage_alert{
        width: 100%;
        height: 100px;
        background-color: #f69b02;
        position: absolute;
        top: 0px;
        display: none;
        text-align: center;
        font-size: 22px;
        padding: 30px 0px 30px 0px;
        color: #fff;
    }
    #like_full{
        position: absolute;
        display: none;
        right: 0px;
        top: 0px;
    }
    #like{
        z-index: 1;
    }
    .viewpage_content{
        width: 100%;
        height: 520px;    
    }
    #viewpage_icon{
        position: relative;
    }
    #viewpage_icon a:first-child{
        position: absolute;
        right: 80px;
        top: 450px;
    }
    #viewpage_icon a:last-child{
        position: absolute;
        right: 0px;
        top: 450px;
    }
    /*viewpage_icon Fin*/
    .viewpage_section{
        margin-top: 20px;
    }
    .viewpage_section h1{
        font-weight: bold;
    }
    .viewpage_section p{
        font-size: 22px;
        font-weight: 100;
    }
    .viewpage_section ul li{
        list-style: none;
        display: inline-block;
        margin: 6px 6px 6px 0;
        padding: 0 15px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
    }
    .viewpage_section ul li a{
        text-decoration: none;
        color: #656565;
        font-weight: 100;
        font-size: 16px;
    }
    /*.viewpage_section Fin*/
    .viewpage_detail{
        width: 1160px;
        margin-top: 30px;
        overflow: hidden;
    }
    .viewpage_right{
    	display:block;
        width: 370px;
        background-color: #f7f7f7;
        position: absolute;
        right: 0px;
        top: -500px;
        z-index:99;
    }
.viewpage_right_header{
    width: 370px;
    height: 30px;
    border-bottom: 3px solid #f69b02;
    background-color: #fff;
}
.viewpage_title{
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
.viewpage_right_header span{
    color: red;
    float: right;
    font-size: 16px;
    font-weight: normal;
    
}
.viewpage_list_none span{
    float: right;
    margin-left: 20px;
}
#viewpage_right_content{
    clear: both;
    padding: 19px 20px 17px; 
}
#viewpage_right_content p{
    font-size: 16px;
    text-align: center;
}
#viewpage_right_img{
    float: left;
}
.viewpage_right_list{
    border: 2px solid #183058;
    padding: 20px;
    overflow: hidden;
}
.viewpage_right_list2 ul li:first-child{
    font-size: 18px;
    line-height: 21px;
}
.viewpage_list_none span{
    color: #f69b02;
}
.viewpage_list_none{
    list-style: none;
    border-bottom: 1px solid #e2e2e2;
}
.viewpage_right_c{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e2e2e2;
    list-style: none;
}
.viewpage_right_c p{
    margin-left: 85px;
    margin-bottom: 0px;
}
.viewpage_right_icon{
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 100%;
}
.viewpage_right_kategorie{
    width: 105px;
    float: left;
}
    .viewpage_left{
       width: 775px;
       float: left;
    }
    .viewpage_textbox{
        margin-bottom: 45px;
    }
    .viewpage_textbox h2{
        padding: 50px 100px 0 0;
        font-size: 48px;
        line-height: 60px;
        font-weight: 100;
    }
    .viewpage_textbox h3{
        font-size: 18px;
        margin-top: 45px;
        padding-bottom: 6px;
        font-weight: bold;
        border-bottom: 3px solid #f69b02;
    }
    .viewpage_textbox p{
        
        color: #656565;
    }
    .viewpage_textbox ul li{
        list-style: none;      
        
    }

.viewpage_reservationbtn{
    color: #fff;
    height: 50px;
    line-height: 45px;
    font-size: 16px;
    width: 370px;
    height: 50px;
    text-align: center;
    background: #f69b02;
    border:none;
}
.viewpage_reservationbtn:hover{
    background-color: #183058;
     color: #fff;
}
.viewpage_reservationbtn:hover{
   
}
    .viewpage_photo2{
        width: 773px;
    }
    #viewpage_photo2_l{
   		 padding-top: 2px;
   		 float: left;
   		 margin-right:5px;
    }
    #viewpage_photo2_r{
        padding-top: 2px;
    }
    .viewpage_photo{
        width: 773px;
        padding-bottom: 2px;
        
    }
    /*viewpage_content Fin*/

    .viewpage_cover{
        width: 1160px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    .viewpage_kategorie{
        width: 257px;
        float: left;
    }
.viewpage_host_info{
    margin-top: 50px;
}
.viewpage_host_addr{
    width: 773px;
    background-color: #183058;
    color: #fff;
    text-align: left;
    padding: 33px 30px 38px;
    height: 200px;
}
#viewpage_first_p{
    font-weight: normal;
    color: #e2e2e2;
    margin: 0px;
}
.viewpage_host_first p:last-child{
    font-weight: normal;
    color: #e2e2e2;
}
.viewpage_host_icon_l{
    float: left;
    border: 1px solid #f69b02;
    height: 50px;
    width: 340px;
    border-radius: 50px;
    background-color: #f69b02;
}
.viewpage_host_icon_r{
    float: left;
    border: 1px solid #f69b02;
    height: 50px;
    width: 340px;
    border-radius: 50px;
    margin-left: 35px;
    background-color: #f69b02;
}
.viewpage_host_icon{
    text-align: center;
    width: 773px;
}
.viewpage_host_icon a{
    text-decoration: none;
    color: #fff;
}
.viewpage_host_icon img{
    margin-right: 10px;   
}
.viewpage_qna{
    margin-top: 70px;
    width: 773px;
}
.viewpage_qnaview{
    width: 773px;
}
.h_intro{
    float: left;
    font-size: 18px;
}
.viewpage_qna_header{
	cursor: pointer;
}
.viewpage_qna_header h4{
    float: left;
    border-bottom: 3px solid #f69b02;
    font-size: 18px;
}
.viewpage_qna_header a{
    border: 1px solid #f69b02;
    border-radius: 50px;
    margin-left: 35px;
    background-color: #f69b02;
    text-decoration: none;
    color: #fff;
    width: 150px;
    text-align: center;
    float:right;
}
.viewpage_qnaview{
    clear: both;
}
.viewpage_hostpage{
    width: 773px;
    padding: 33px 30px 38px;
    border: 1px solid #e2e2e2;
    background: #eee;
    margin-top: 50px;
}
.hostbtn{
    width: 255px;
    margin: 17px 0 0 130px;
    padding: 15px;
    color: #183058;
    line-height: 50px;
    border-radius: 50px;
    border: 1px solid #f69b02;
    margin-left: 200px;
}
.pf_left{
    float: left;
}
.pf_right{
    padding-top: 10px;
    margin-left: 200px;
}
.pf_txt{
    margin-top: 15px;
}
.pf_img{
    float: left;
    margin-right: 20px;
}
.txt_primary{
    color: #f69b02;
}
.viewpage_review_header{
    border-bottom: 3px solid #f69b02;
    font-size: 18px;
    width: 100%;
    height: 40px;
    margin-top: 50px;
}
.p_review{
    margin-top: 11px;
    line-height: 28px;
}
.img_box{
    display: inline-block;
    width: 80%;
    height: 400px;
}
.box_space{
    float: left;
    margin-right: 15px;
}
.rbox_info_base{
    clear: both;
}
#viewpage_review_btn{
    float: right;
}
.rbox_name{
    width: 650px;    
    float: left;
}




#slider-wrap{
    width:773px;
    height:600px;
    position:relative;
    overflow:hidden;
}

#slider-wrap ul#slider{
    width:100%;
    height:100%;    
    position:absolute;
    top:0;
    left:0;     
}

#slider-wrap ul#slider li{
    float:left;
    position:relative;
    width:773px;
    height:600px;   
    list-style: none;
}

#slider-wrap ul#slider li > div{
    position:absolute;
    top:20px;
    left:35px;  
}

#slider-wrap ul#slider li > div h3{
    font-size:36px;
    text-transform:uppercase;   
}

#slider-wrap ul#slider li > div span{
    font-family: Neucha, Arial, sans serif;
    font-size:21px;
}

#slider-wrap ul#slider li img{
    display:block;
    width:100%;
    height: 100%;
}


/*btns*/
.btns{
    position:absolute;
    width:50px;
    height:60px;
    top:50%;
    margin-top:-25px;
    line-height:57px;
    text-align:center;
    cursor:pointer; 
    background:rgba(0,0,0,0.1);
    z-index:100;
    
    
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;
    
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.btns:hover{
    background:rgba(0,0,0,0.3); 
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
    top: 30px; 
    right:35px; 
    width:auto;
    position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
    min-width:20px;
    margin-top:580px;
    margin-left: auto; 
    margin-right: auto;
    height:15px;
    position:relative;
    text-align:center;
}

#pagination-wrap ul {
    width:100%;
}

#pagination-wrap ul li{
    margin: 0 4px;
    display: inline-block;
    width:5px;
    height:5px;
    border-radius:50%;
    background:#fff;
    opacity:0.5;
    position:relative;
    top:0;  
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1;
  box-shadow:rgba(0,0,0,0.5) 1px 1px 0px; 
}
	#successBtn{
		outline: none;
		background:#f69b02;
		border-radius: 10px;
		width : 150px;
		height: 50px;
		border: 0px;
		color : white;
	}
	#cencelBtn{
		outline : none;
		background:#183058;
		width : 150px;
		height: 50px;
		border: 0px;
		color : white;
		border-radius: 10px;
	}
	.layer_popup {
		border-radius:10px;
		text-align: center;
		background:#fff;
	    position: absolute;
	    top: 30%;
	    left: 45%;
	    display: block;
	    width: 500px;
	    z-index: 150;
	    margin-left: -145px;
	    
	}
.layer_popup_up {
		border-radius:10px;
		text-align: center;
		background:#fff;
	    position: absolute;
	    top: 30%;
	    left: 45%;
	    display: block;
	    width: 500px;
	    z-index: 150;
	    margin-left: -145px;
	    
	}
	.pop_guide_txt{
		font-size: 18px;
	}
	.accent{
		color:#f69b02;
	}
	.qnaBtns{
        width: 500px;
        height: 50px;
        line-height: 47px;
	}
	.qnaBtns a:hover{
		text-decoration: none;
		color: #183058;
	}
	.hostpopupMask{
		top:0;
		left:0;
		z-index:99;
		position: fixed;
		width: 100%;
		height: 1000px;
		background-color: black;
		opacity: 0.6;
		display:none;
	}
.pop_header{
    padding: 10px 20px 0px 20px;
    width: 100%;
    height: 40px;
    background-color: #183058;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
}
.pop_header p{
    float: left;
}
.pop_header button{
    float: right;
    background: none;
    border: none;
    color: #fff;
}
.pop_container{
    clear: both;
    padding: 20px;
}
.box_l{
    float: left;
}
.box_r{
    float: right;
    width: 100px;
    display: inline;
}
.qna_input{
    clear:both;
}
#input_question{
    width: 460px;
    height: 200px;
    
}
#input_update{
    width: 460px;
    height: 200px;
    
}
#textarea_input{
    float: left;
}
#textarea_update{
    float: left;
}
.qna_p p{
    color: red;
    font-size: 14px;
}
#qna_abtn{
    width: 100px;
    background: #f69b02;
    margin: 0 auto;
    height: 45px;
    border-radius: 15px;
}
#qna_updateBtn{
     width: 100px;
    background: #f69b02;
    margin: 0 auto;
    height: 45px;
    border-radius: 15px;
}
.qnaBtns{
     width: 100px;
    background: #f69b02;
    margin: 0 auto;
    height: 45px;
    border-radius: 15px;
}
.poprollback{
    border: none;
    background: none;
    color: #fff;
    
}
<<<<<<< HEAD
.pageNavi{
    text-align: center;
}
.pageNavi span:hover{
    border: 1px solid #f69b02;
    background: #f69b02;
    padding: 10px;
    border-radius: 5px;
    color: #183058   
}
.review_none{
	width:773px;
	height: 200px;
	text-align: center;
	line-height: 230px;
	font-size: 22px;

#declare{
	border:1px solid red;
	margin-left:670px;
	margin-bottom:10px;
	width:100px;
	height:50px;
	border-radius: 10px;
	color:red;
	text-align: center;
	line-height: 50px;
	font-size:20px;
	cursor:pointer;
	position:absolute;
	top:-55px;
}
#declare:hover{
	color:white;
	background-color: red;
}
.declare_type:focus {
    outline: none;
}
.declare_type{
	
	background-color:white;
	border:1px solid red;
	border-radius: 10px;
	color:red;
	width:90px;
	height:50px;
	cursor:pointer;
	
}
#declare_content{
	position:absolute;
	
	left:373px;
	display:none;
	border:1px solid red;
	width:400px;
	heigth:500px;
	text-align: center;
	border-radius: 15px;
	margin-bottom:10px;
	z-index:10;
	background-color: white;
}
.declare_name{
	border:none;
	outline: none;
	border-bottom:1px solid black;
	text-align: center;
}
#declare_header{
	width:100%;
	height: 50px;
	background-color: red;
	color:white;
	font-size: 22px;
	margin-bottom:10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	line-height: 50px;
}
#declareBtn{
	background-color:white;
	border:1px solid red;
	border-radius: 10px;
	color:red;
	width:90px;
	height:50px;
	cursor:pointer;
	
	outline:none;
}
.change_btn{
	color:white;
	background-color: red;
	
}